.header {
    background: transparent;
}

.header__inner {
    margin: 0 auto;
    text-align: left;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

body {
    background-image: url('/images/haikei.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    width: 99%;
    height: 30px;
    text-align: center;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.header__logo,
.footer {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}